// Virtue CSS Grid  and Framework made by Sean Pelser

@import url('https://fonts.googleapis.com/css?family=Andika');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Andika';
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1em;
}

// Wrapper-full Styles \\

.wrapper-full {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

        [class*="-grid"] {
            float: left;
        }
        .vt-one-grid {
            width: 10%;
        }
        .vt-two-grid {
            width: 16.66%;
        }
        .vt-three-grid {
            width: 33.33%;
        }
        .vt-four-grid {
            width: 25%;
        }
        .vt-five-grid {
            width: 41.66%;
        }
        .vt-six-grid {
            width: 50%;
        }
        .vt-seven-grid {
            width: 58.33%;
        }
        .vt-eight-grid {
            width:  66.66%;
        }
        .vt-nine-grid {
            width: 75%;
        }
        .vt-ten-grid {
            width: 83.33%;
        }
        .vt-eleven-grid {
            width: 91.66%;
        }
        .vt-twelve-grid {
            width: 100%;
        }

        .pd-5 {
            padding: 5px;
        }
        .pd-10 {
            padding: 10px;
        }
        .pd-15 {
            padding: 15px;
        }
        .pd-20 {
            padding: 20px;
        }
        .pd-25 {
            padding: 25px;
        }
        .pd-30 {
            padding: 30px;
        }
        .pd-35 {
            padding: 35px;
        }
        .pd-40 {
            padding: 40px;
        }
        .pd-45 {
            padding: 45px;
        }
        .pd-50 {
            padding: 50px;
        }

        .mr-5 {
            margin: 5px;
        }
        .mr-10 {
            margin: 10px;
        }
        .mr-15 {
            margin: 15px;
        }
        .mr-20 {
            margin: 20px;
        }
        .mr-25 {
            margin: 25px;
        }
        .mr-30 {
            margin: 30px;
        }
        .mr-35 {
            margin: 35px;
        }
        .mr-40 {
            margin: 40px;
        }
        .mr-45 {
            margin: 45px;
        }
        .mr-50 {
            margin: 50px;
        }

        @media only screen and (max-width: 992px) {
            [class*="-grid"] {
                width: 50%;
            }
            .wrapper {
                width: 970px;
            }
        }

        @media only screen and (max-width: 768px) {
            [class*="-grid"] {
                width: 100%;
            }
            .wrapper {
                width: 750px;
            }
        }

        @media (min-width: 1200px) {
            .wrapper {
                width: 1170px;
            }
        }

            // Buttons \\

            [class*="-primary-button"] {
                background: #3399ff;
                border-radius: 2px;
                color: #FFF;
                font-weight: 600;
                transition-duration: 1s;
                &:hover {
                    background: #0073e6;
                    transition-duration: 1s;
                }
            }

            [class*="-success-button"] {
                background: #47d147;
                border-radius: 1.5px;
                color: #FFF;
                font-weight: 600;
                transition-duration: 1s;
                &:hover {
                    background: #29a329;
                    transition-duration: 1s;
                }
            }

            [class*="-warning-button"] {
                background: #ff7733;
                border-radius: 1.5px;
                color: #FFF;
                font-weight: 600;
                transition-duration: 1s;
                &:hover {
                    background: #e65c00;
                    transition-duration: 1s;
                }
            }

            [class*="-danger-button"] {
                background: #ff4d4d;
                border-radius: 1.5px;
                color: #FFF;
                font-weight: 600;
                transition-duration: 1s;
                &:hover {
                    background: #e60000;
                    transition-duration: 1s;
                }
            }

            .small-primary-button,
            .small-success-button,
            .small-warning-button,
            .small-danger-button {
                height: 2.5vh;
                width: auto;
                padding: 0.3em 0.5em;
            }

            .medium-primary-button,
            .medium-success-button,
            .medium-warning-button,
            .medium-danger-button {
                height: 3.5vh;
                width: auto;
                padding: 0.5em;
            }

            .large-primary-button,
            .large-success-button,
            .large-warning-button,
            .large-danger-button {
                height: 4.5vh;
                width: auto;
                padding: 0.5em 1em;
            }

                    // End of Buttons \\

        // Pagination \\

        ul.pagination {

            width: calc(100% / 2);
            margin-left: auto;
            margin-right: auto;
            list-style-type: none;

            li {
                width: min-content;
                float: left;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    color: #000;
                    text-decoration: none;
                    border: 1px solid #6b6565;
                    padding: 0.5em 1em;
                    font-weight: 600;
                    transition-duration: 1s;

                    &:hover {
                        color: #1b99bf;
                        transition-duration: 1s;
                    }
                }
                .active {
                    color: #1b99bf;
                }
            }
        }

        // Pagination Ends \\

                // Form Begins \\

                form.vt-form {
                    input {
                        display: block;
                        width: 100%;
                        padding: 0.5em 1em;
                        line-height: 1.42857143;
                        color: #555;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        transition-duration: 1s;

                        &:hover,
                        &:focus {
                            border: 1px solid #4a4343;
                            transition-duration: 1s;
                        }
                    }
                }

                // Form Ends \\

                // DropDown \\

                .vt-drophover {
                    &:hover {
                        .vt-drophover-show {
                            display: block;
                        }
                    }

                    .vt-drophover-show {
                        display: none;
                    }
                }

                        // Table Begins \\

        table.vt-table {
            width: 100%;

            th {
                text-align: left;
                padding: 0 0.5em;
            }

            td {
                border-top: 1px solid #c1bebe;
                border-spacing: 0;
                padding: 0.5em;
            }

            tbody {
                tr {
                    &:hover {
                        background: #e8e8e8;
                    }
                }
            }
        }

        // Table Ends \\
}

// Wrapper-full Styles ends \\


// Wrapper Styles \\

.wrapper {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;

        [class*="-grid"] {
            float: left;
        }
        .vt-one-grid {
            width: 10%;
        }
        .vt-two-grid {
            width: 16.66%;
        }
        .vt-three-grid {
            width: 33.33%;
        }
        .vt-four-grid {
            width: 25%;
        }
        .vt-five-grid {
            width: 41.66%;
        }
        .vt-six-grid {
            width: 50%;
        }
        .vt-seven-grid {
            width: 58.33%;
        }
        .vt-eight-grid {
            width:  66.66%;
        }
        .vt-nine-grid {
            width: 75%;
        }
        .vt-ten-grid {
            width: 83.33%;
        }
        .vt-eleven-grid {
            width: 91.66%;
        }
        .vt-twelve-grid {
            width: 100%;
        }

        .pd-5 {
            padding: 5px;
        }
        .pd-10 {
            padding: 10px;
        }
        .pd-15 {
            padding: 15px;
        }
        .pd-20 {
            padding: 20px;
        }
        .pd-25 {
            padding: 25px;
        }
        .pd-30 {
            padding: 30px;
        }
        .pd-35 {
            padding: 35px;
        }
        .pd-40 {
            padding: 40px;
        }
        .pd-45 {
            padding: 45px;
        }
        .pd-50 {
            padding: 50px;
        }

        .mr-5 {
            margin: 5px;
        }
        .mr-10 {
            margin: 10px;
        }
        .mr-15 {
            margin: 15px;
        }
        .mr-20 {
            margin: 20px;
        }
        .mr-25 {
            margin: 25px;
        }
        .mr-30 {
            margin: 30px;
        }
        .mr-35 {
            margin: 35px;
        }
        .mr-40 {
            margin: 40px;
        }
        .mr-45 {
            margin: 45px;
        }
        .mr-50 {
            margin: 50px;
        }

        @media only screen and (max-width: 992px) {
            /* For mobile phones: */
            [class*="-grid"] {
                width: 50%;
            }
            .wrapper {
                width: 970px;
            }
        }

        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            [class*="-grid"] {
                width: 100%;
            }
            .wrapper {
                width: 750px;
            }
        }

        @media (min-width: 1200px) {
            .wrapper {
                width: 1170px;
            }
        }

        // Buttons \\

        [class*="-primary-button"] {
            background: #3399ff;
            border-radius: 2px;
            color: #FFF;
            font-weight: 600;
            transition-duration: 1s;
            &:hover {
                background: #0073e6;
                transition-duration: 1s;
            }
        }

        [class*="-success-button"] {
            background: #47d147;
            border-radius: 1.5px;
            color: #FFF;
            font-weight: 600;
            transition-duration: 1s;
            &:hover {
                background: #29a329;
                transition-duration: 1s;
            }
        }

        [class*="-warning-button"] {
            background: #ff7733;
            border-radius: 1.5px;
            color: #FFF;
            font-weight: 600;
            transition-duration: 1s;
            &:hover {
                background: #e65c00;
                transition-duration: 1s;
            }
        }

        [class*="-danger-button"] {
            background: #ff4d4d;
            border-radius: 1.5px;
            color: #FFF;
            font-weight: 600;
            transition-duration: 1s;
            &:hover {
                background: #e60000;
                transition-duration: 1s;
            }
        }

        .small-primary-button,
        .small-success-button,
        .small-warning-button,
        .small-danger-button {
            height: 2.5vh;
            width: auto;
            padding: 0.3em 0.5em;
        }

        .medium-primary-button,
        .medium-success-button,
        .medium-warning-button,
        .medium-danger-button {
            height: 3.5vh;
            width: auto;
            padding: 0.5em;
        }

        .large-primary-button,
        .large-success-button,
        .large-warning-button,
        .large-danger-button {
            height: 4.5vh;
            width: auto;
            padding: 0.5em 1em;
        }

        // End of Buttons \\

        // Pagination \\

        ul.pagination {

            width: calc(100% / 2);
            margin-left: auto;
            margin-right: auto;
            list-style-type: none;

            li {
                width: min-content;
                float: left;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    color: #000;
                    text-decoration: none;
                    border: 1px solid #6b6565;
                    padding: 0.5em 1em;
                    font-weight: 600;
                    transition-duration: 1s;

                    &:hover {
                        color: #1b99bf;
                        transition-duration: 1s;
                    }
                }
                .active {
                    color: #1b99bf;
                }
            }
        }

        // Pagination Ends \\

        // Form Begins \\

        form.vt-form {
            input {
                display: block;
                width: 100%;
                padding: 0.5em 1em;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                transition-duration: 1s;

                &:hover,
                &:focus {
                    border: 1px solid #4a4343;
                    transition-duration: 1s;
                }
            }
        }

        // Form Ends \\

        // DropDown \\

        .vt-drophover {
            &:hover {
                .vt-drophover-show {
                    display: block;
                }
            }

            .vt-drophover-show {
                display: none;
            }
        }

        // Dropdown Ends \\

        // Table Begins \\

        table.vt-table {
            width: 100%;

            th {
                text-align: left;
                padding: 0 0.5em;
            }

            td {
                border-top: 1px solid #c1bebe;
                border-spacing: 0;
                padding: 0.5em;
            }

            tbody {
                tr {
                    &:hover {
                        background: #e8e8e8;
                    }
                }
            }
        }

        // Table Ends \\
}

textarea,
button,
input {
    &:focus {
        outline: none;
    }
}